* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body {
    /* background-color: #1f1f38 !important; */
    background-color: rgb(8, 8, 8) !important;

    /* background-image: url(../src/assets/bg-texture.png); */
    /* background-image: url(../src/assets/bg-pat.png); */

}


/* App.css */
p,
h1,
h2,
h4,
h5,
h6 {
    color: white;
}

span {
    color: #00ffff;
}


